@import "styles/variables";

.AutoCompleteWrapper {
  position: relative;
  outline: none;
}

.OptionsList {
  width: 100%;
  display: none;

  background-color: $background-color;
  box-shadow: $shadow-layout-obj;
  z-index: $z-index-fixed-element;

  animation: fade-in .1s ease-in-out;

  overflow: hidden;
  border-radius: $border-radius;

  color: $color-base;

  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 5px;

  position: absolute;
  top: 100%;

  &.Visible {
    display: block;
  }
}

@mixin highlighted(){
  background-color: $primary-color-lighten;
  color: $primary-color;
}

.Option {
  padding: $input-padding;
  cursor: pointer;
  transition: .3s ease-in-out;

  &:not(:first-child) {
    border-top: $border-base;
  }
  &:hover {
    @include highlighted();
  }
  &.Selected {
    @include highlighted();
  }
}

@keyframes fade-in {
  0%   { opacity: 0; transform: scale(0.8) translateY(10px); }
  100% { opacity: 1; transform: scale(1) translateY(0); }
}
