@import "styles/variables";

@mixin highlighted(){
  background-color: $primary-color-lighten;
  .Icon, .Title, .TrackDuration {
    color: $primary-color;
  }
}

.Track {
  display: flex;
  align-items: center;
  padding: 15px;

  &, .Icon, .Title, .TrackDuration, .TrackIndex, .PlayButton {
    transition: .3s ease-in-out;
  }

  .Icon {
    width: 50px;
    text-align: left;

    font-size: 14px;
    color: $color-light;
  }
  .Title {
    width: 100%;
    display: inline-block;

    color: $color-base;
    font-weight: bold;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .TrackDuration {
    width: 50px;
    text-align: right;

    font-size: 14px;
    color: $color-light;
  }

  .PlayButton {
    color: $primary-color;
    font-size: 20px;
    opacity: 0;
  }

  .Switch {
    display: inline-flex;
    align-items: center;
    position: relative;
  }

  .TrackIndex {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
  }

  &.Highlighted {
    @include highlighted();
  }

  &:hover {
    @include highlighted();

    .PlayButton {
      opacity: 1;
    }
    .TrackIndex {
      opacity: 0;
    }
  }
}
