@import "styles/variables";


.ArtistOption {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  width: 100%;
}

.Ellipsis {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ArtistPicture img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  overflow: hidden;

  margin-right: 10px;
}
